h1{
    text-align: center;
    color: blue;
    font-size: 40px;
}
img{
    text-align: center;
    margin-left: 30vw;
    width: 192px;
    height: 262px;
}
.btn1{
    background-color: rgb(4, 248, 239);
    margin-top: 40px;
    align-items: center;
    border: 2px solid rgb(4, 248, 239);
    border-radius: 10px;
    width: 100px;
   height: 30px;
   cursor: pointer;
   
}
.btns{
    margin-left: 29%;
}